@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

li {
  list-style-type: none; }

html {
  font-size: 62.5%; }

body {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  background-color: white; }

li a {
  color: bisque;
  font-weight: lighter; }

.navBar {
  background-color: #080909;
  border: 2px black solid;
  border-radius: 20px;
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.barra {
  margin-top: 20px;
  margin-bottom: 0.2px;
  grid-area: nav; }

.navBar ul {
  height: 50px;
  flex-direction: row;
  justify-content: center; }

.navItem {
  border: 2px;
  margin: 5px;
  font-size: large;
  display: flex;
  flex-direction: row;
  align-items: center; }

.navItem.logo {
  width: 90px;
  margin: 0;
  padding: 0; }

/* .navItem.derecho {
    align-items: flex-end;
  } */
p {
  color: white;
  font-weight: lighter; }

h1 {
  font-weight: lighter;
  display: inline;
  background-color: #372b25;
  color: whitesmoke;
  font-weight: 400;
  border: 1px black solid;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  width: 99%; }

h2 {
  color: white;
  font-weight: lighter; }

h3 {
  color: orangered; }

.form {
  display: flex;
  margin-top: 20px;
  margin-bottom: 40px;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.form2 {
  display: flex;
  margin-top: 20px;
  margin-bottom: 40px;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.enviar {
  margin: 10px; }

.dondeImg {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  height: 50rem; }

.musculacion {
  grid-area: musculacion;
  margin: 5rem; }

.funcional {
  grid-area: funcional;
  margin: 5rem; }

.spinning {
  grid-area: spinning;
  margin: 5rem; }

section p {
  display: block;
  align-items: center; }

.tarjetas {
  display: flex;
  align-items: center;
  width: 25rem; }

.tarjetas img {
  width: 20rem;
  border-radius: 3px;
  transition: height 0.2s, width 0.2s; }

.tarjetas img:hover {
  height: 300px;
  width: 300px; }

.footer {
  text-align: center;
  font-weight: bold;
  line-height: 1.6;
  background-color: #372b25;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 3px;
  margin-top: 10px;
  grid-area: footer; }

.underFooter {
  font-weight: lighter;
  display: flex;
  flex-direction: row;
  justify-content: center; }

a {
  text-decoration: none; }

.hiper {
  background-color: bisque;
  font-weight: lighter; }

.propiedadUno, .propiedadDos {
  font-size: larger;
  color: chartreuse; }

.contenedorInterior {
  background-color: #0B0A0A;
  /*margin: 20px;*/
  border: 2px black solid;
  border-radius: 20px;
  opacity: 90%; }

.border {
  border: #080909 solid;
  /*margin-left: 10px;
  margin-right: 10px;*/
  background-color: #372b25;
  background-image: url(/img/3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px; }

.contenedorInterior {
  background-color: #0B0A0A;
  /*margin: 20px;*/
  border: 2px black solid;
  border-radius: 20px;
  opacity: 90%; }

.gridPadre {
  display: grid;
  grid-template-areas: "nav nav nav nav" "musculacion funcional spinning" "musculacion funcional spinning" "footer footer footer footer"; }

@media (min-width: 700px) and (max-width: 1100px) {
  .gridPadre {
    display: grid;
    grid-template-areas: "nav nav" "musculacion" "funcional spinning" "footer footer"; }
  .form {
    display: flex;
    flex-direction: column; }
  .tarjetas {
    display: flex;
    flex-direction: column; }
  section {
    text-align: center; }
  section img {
    width: 150px; } }

@media (max-width: 699px) {
  .gridPadre {
    display: grid;
    grid-template-areas: "nav" "musculacion" "funcional" "spinning" "footer"; }
  .form {
    display: flex;
    flex-direction: column; }
  .tarjetas {
    display: flex;
    flex-direction: column; }
  html {
    font-size: 80%; }
  nav {
    position: static; }
  .barra div {
    max-width: 90%; }
  section {
    text-align: center; }
  section img {
    width: 300px; } }
